
.title-name{
    text-align: center;
    color: darkslategray;
    font-weight: bold;
    margin-bottom: 50px;
}
/* .services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
} */